body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:aqua ;
    color: black;
    text-align: center;
    border: dotted;
    padding: 20px;
    width: 500px;
    box-shadow: 0 4px 8px ;
    
]

.explanations{
    text-align: centre;
    padding: 20px;
    font: size 16px;
    color: #000;
    
}
#name -form{
padding: 100px;
border-radius: 20px;
box-shadow: 0 4px 10px rgba (0,0,0,0.5);
width: 350px;
margin: 40px;
}
label{
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid black ;
    text-align: center;
    width: 120px;
    font-weight: bold;

}

button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: blanchedalmond;
    cursor: pointer;
border: none;
}
.results{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

