
body {
  font-family: 'Comic Sans MS', cursive;
  background-color: #ffe6f0;
  text-align: center;
  padding: 20px;
}

header {
  background-color: #ff99cc;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

h1 {
  color: #ff66b2;
}

#name-form {
  background-color: #fff;
  padding: 20px;
  border: 2px solid #ff99cc;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.dob  {
  margin-bottom: 15px;
}
.gender {
    margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ff66b2;
  font-weight: bold;
}

input[type="date"], select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ff99cc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #ff66b2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ff99cc;
}

.results {
  margin-top: 20px;
  font-size: 18px;
  color: #ff66b2;
}

